@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animated-gradient-bg {
  /* Added more vibrant color stops and a slightly different angle */
  background: linear-gradient(
    135deg, 
    #0270ff,
    #000000,
    #0270ff, 
    #000000,
    #0270ff
  ); 
  /* Increased size to 400% 400% to make the shifts broader */
  background-size: 400% 400%; 
  /* Faster animation for 400% size */
  animation: gradient-shift 20s linear infinite; 
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}